# Read Datasets and Import libraries

In [2]:
import pandas as pd

df_movies = pd.read_parquet('/Users/mac/Desktop/Project-Group8/movies.parquet.gzip')
df_ratings = pd.read_parquet('/Users/mac/Desktop/Project-Group8/ratings.parquet.gzip')

# Preprocess

In [3]:
print("🛑 shape of rating dataset: "+ str(df_ratings.shape))
print("\n🛑 columns of rating dataset: "+ str(df_ratings.columns))
print("\n🛑 info of rating dataset: ")
print(df_ratings.info())
df_ratings.head()

🛑 shape of rating dataset: (1000209, 11)

🛑 columns of rating dataset: Index(['bucketized_user_age', 'movie_genres', 'movie_id', 'movie_title',
       'timestamp', 'user_gender', 'user_id', 'user_occupation_label',
       'user_occupation_text', 'user_rating', 'user_zip_code'],
      dtype='object')

🛑 info of rating dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 11 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   bucketized_user_age    1000209 non-null  float32
 1   movie_genres           1000209 non-null  object
 2   movie_id               1000209 non-null  object
 3   movie_title            1000209 non-null  object
 4   timestamp              1000209 non-null  int64
 5   user_gender            1000209 non-null  bool
 6   user_id                1000209 non-null  object
 7   user_occupation_label  1000209 non-null  int64
 8   user_occupation_text   1000209 non-null  object
 9   user_rating            1000209 non-null  float32
 10  user_zip_code          1000209 non-null  object
dtypes: bool(1), float32(2), int64(2), object(6)
memory usage: 69.6+ MB
None

,bucketized_user_age,movie_genres,movie_id,movie_title,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,user_zip_code
0,35.0,"[0, 7]",b'3107',b'Backdraft (1991)',977432193,True,b'130',18,b'technician/engineer',5.0,b'50021'
1,25.0,[7],b'2114',"b'Outsiders, The (1983)'",965932967,False,b'3829',0,b'academic/educator',4.0,b'22307'
2,18.0,"[4, 15]",b'256',b'Junior (1994)',1012103552,False,b'1265',21,b'writer',1.0,b'49321'
3,18.0,"[0, 10]",b'1389',b'Jaws 3-D (1983)',972004605,True,b'2896',14,b'sales/marketing',5.0,b'60073'
4,18.0,[0],b'3635',"b'Spy Who Loved Me, The (1977)'",961180111,True,b'5264',17,b'college/grad student',4.0,b'15217'

In [5]:
print("🛑 shape of movies dataset: "+ str(df_movies.shape))
print("\n🛑 columns of movies dataset: "+ str(df_movies.columns))
print("\n🛑 info of movies dataset: ")
print(df_movies.info())
df_movies.head()

🛑 shape of movies dataset: (3883, 3)

🛑 columns of movies dataset: Index(['movie_genres', 'movie_id', 'movie_title'], dtype='object')

🛑 info of movies dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_genres  3883 non-null   object
 1   movie_id      3883 non-null   object
 2   movie_title   3883 non-null   object
dtypes: object(3)
memory usage: 91.1+ KB
None

  movie_genres movie_id                                        movie_title
0       [5, 7]  b'1729'                             b'Jackie Brown (1997)'
1          [7]  b'1486'                          b'Quiet Room, The (1996)'
2          [4]  b'3086'  b'March of the Wooden Soldiers (a.k.a. Laurel ...
3          [0]  b'2965'                          b'Omega Code, The (1999)'
4         [10]  b'2853'  b'Communion (a.k.a. Alice, Sweet Alice/Holy Te...

In [ ]:
#Import the numpy library
import numpy as np
#Function to convert to desired type manually
def to_int(x):
  try:
    x = int(x)
  except:
    x = np.nan
  return x

def to_str(x):
  try:
    x = str(x.decode()).replace("'","")
  except:
    x = np.nan
  return x

#Apply the to_int function to all values in the movie_id, user_id, user_zip_code columns
#To convet object type to int type
df_movies['movie_id'] = df_movies['movie_id'].apply(to_int)

df_ratings['movie_id'] = df_ratings['movie_id'].apply(to_int)
df_ratings['user_id'] = df_ratings['user_id'].apply(to_int)
df_ratings['user_zip_code'] = df_ratings['user_zip_code'].apply(to_int)

#Try converting to int using pandas astype
df_movies['movie_id'] = df_movies['movie_id'].astype('int')

df_ratings['movie_id'] = df_ratings['movie_id'].astype('int')
df_ratings['user_id'] = df_ratings['user_id'].astype('int')
df_ratings['user_zip_code'] = df_ratings['user_zip_code'].astype('int', errors='ignore')

#Apply the to_str function to all values in the movie_title, user_occupation_text columns
#To convet object type to str type
df_movies['movie_title'] = df_movies['movie_title'].apply(to_str)

df_ratings['movie_title'] = df_ratings['movie_title'].apply(to_str)
df_ratings['user_occupation_text'] = df_ratings['user_occupation_text'].apply(to_str)

#Try converting to str using pandas astype
# df_movies['movie_title'] = df_movies['movie_tilte'].astype('str', errors='ignore')

df_ratings['movie_title'] = df_ratings['movie_title'].astype('str')
df_ratings['user_occupation_text'] = df_ratings['user_occupation_text'].astype('str')

In [ ]:
print(df_ratings.info())
df_ratings.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 11 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   bucketized_user_age    1000209 non-null  float32
 1   movie_genres           1000209 non-null  object
 2   movie_id               1000209 non-null  int64
 3   movie_title            1000209 non-null  object
 4   timestamp              1000209 non-null  int64
 5   user_gender            1000209 non-null  bool
 6   user_id                1000209 non-null  int64
 7   user_occupation_label  1000209 non-null  int64
 8   user_occupation_text   1000209 non-null  object
 9   user_rating            1000209 non-null  float32
 10  user_zip_code          986983 non-null   float64
dtypes: bool(1), float32(2), float64(1), int64(4), object(3)
memory usage: 69.6+ MB
None

,bucketized_user_age,movie_genres,movie_id,movie_title,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,user_zip_code
0,35.0,"[0, 7]",3107,Backdraft (1991),977432193,True,130,18,technician/engineer,5.0,50021.0
1,25.0,[7],2114,"Outsiders, The (1983)",965932967,False,3829,0,academic/educator,4.0,22307.0
2,18.0,"[4, 15]",256,Junior (1994),1012103552,False,1265,21,writer,1.0,49321.0
3,18.0,"[0, 10]",1389,Jaws 3-D (1983),972004605,True,2896,14,sales/marketing,5.0,60073.0
4,18.0,[0],3635,"Spy Who Loved Me, The (1977)",961180111,True,5264,17,college/grad student,4.0,15217.0

In [ ]:
print(df_movies.info())
df_movies.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_genres  3883 non-null   object
 1   movie_id      3883 non-null   int64
 2   movie_title   3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB
None

  movie_genres  movie_id                                        movie_title
0       [5, 7]      1729                                Jackie Brown (1997)
1          [7]      1486                             Quiet Room, The (1996)
2          [4]      3086  March of the Wooden Soldiers (a.k.a. Laurel & ...
3          [0]      2965                             Omega Code, The (1999)
4         [10]      2853  Communion (a.k.a. Alice, Sweet Alice/Holy Terr...

# Collaborative Filtering

## Define collab dataset

In [ ]:
df_collab = pd.DataFrame({'user_id':df_ratings['user_id'],'movie_id':df_ratings['movie_id'],'rating':df_ratings['user_rating']})
df_collab

         user_id  movie_id  rating
0            130      3107     5.0
1           3829      2114     4.0
2           1265       256     1.0
3           2896      1389     5.0
4           5264      3635     4.0
...          ...       ...     ...
1000204     4508      2290     4.0
1000205     4167      2643     1.0
1000206     5799       593     5.0
1000207     3224      1693     3.0
1000208     5493       454     3.0

[1000209 rows x 3 columns]

## Collaborative model

In [ ]:
#Build the ratings matrix using pivot_table function
r_matrix = df_collab.pivot_table(values='rating', index='user_id',columns='movie_id')
print(r_matrix.shape)
r_matrix

(6040, 3706)

movie_id,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,NaN,NaN,NaN,2.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6040,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Create a dummy ratings matrix with all null values imputed to 0
r_matrix_dummy = r_matrix.copy().fillna(0)
r_matrix_dummy

movie_id,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6037,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6040,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Import cosine_score
from sklearn.metrics.pairwise import cosine_similarity
#Compute the cosine similarity matrix using the dummy ratings matrix
cosine_sim = cosine_similarity(r_matrix_dummy)
#Convert into pandas dataframe
cosine_sim = pd.DataFrame(cosine_sim)
cosine_sim

,0,1,2,3,4,5,6,7,8,9,...,6030,6031,6032,6033,6034,6035,6036,6037,6038,6039
0,1.000000,0.096382,0.120610,0.132455,0.090158,0.179222,0.059678,0.138241,0.226148,0.255288,...,0.170588,0.082006,0.069807,0.033663,0.114877,0.186329,0.135979,0.000000,0.174604,0.133590
1,0.096382,1.000000,0.151479,0.171176,0.114394,0.100865,0.305787,0.203337,0.190198,0.226861,...,0.112503,0.091222,0.268565,0.014286,0.183384,0.228241,0.206273,0.066118,0.066457,0.218276
2,0.120610,0.151479,1.000000,0.151227,0.062907,0.074603,0.138332,0.077656,0.126457,0.213655,...,0.092960,0.125864,0.161507,0.000000,0.097308,0.143264,0.107744,0.120234,0.094675,0.133144
3,0.132455,0.171176,0.151227,1.000000,0.045094,0.013529,0.130339,0.100856,0.093651,0.120738,...,0.163629,0.093041,0.382803,0.000000,0.082097,0.170583,0.127464,0.062907,0.064634,0.137968
4,0.090158,0.114394,0.062907,0.045094,1.000000,0.047449,0.126257,0.220817,0.261330,0.117052,...,0.100652,0.035732,0.061806,0.054151,0.179083,0.293365,0.172686,0.020459,0.027689,0.241437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6035,0.186329,0.228241,0.143264,0.170583,0.293365,0.093583,0.122441,0.227400,0.239607,0.338072,...,0.131294,0.209843,0.186426,0.103431,0.267405,1.000000,0.341462,0.124174,0.219115,0.411891
6036,0.135979,0.206273,0.107744,0.127464,0.172686,0.065788,0.111673,0.144395,0.225055,0.246902,...,0.142309,0.276134,0.129985,0.118749,0.141676,0.341462,1.000000,0.049015,0.252146,0.428240
6037,0.000000,0.066118,0.120234,0.062907,0.020459,0.065711,0.000000,0.019242,0.093470,0.113789,...,0.108837,0.106897,0.040689,0.000000,0.063967,0.124174,0.049015,1.000000,0.161714,0.099300
6038,0.174604,0.066457,0.094675,0.064634,0.027689,0.167303,0.014977,0.044660,0.046434,0.296776,...,0.118776,0.250994,0.053750,0.102168,0.068399,0.219115,0.252146,0.161714,1.000000,0.228332
6039,0.133590,0.218276,0.133144,0.137968,0.241437,0.083436,0.080680,0.148123,0.215819,0.255793,...,0.154574,0.291988,0.115540,0.118840,0.168997,0.411891,0.428240,0.099300,0.228332,1.000000

In [ ]:
def user_wmean(user_id, movie_id):
  #Check if movie_id exists in r_matrix
  if movie_id in r_matrix:
    #Get the similarity scores for the user in question with every other user
    sim_scores = cosine_sim[user_id]
    #Get the user ratings for the movie in question
    m_ratings = r_matrix[movie_id].reset_index()[movie_id]
    #Extract the indices containing NaN in the m_ratings series
    idx = m_ratings[m_ratings.isnull()].index
    #Drop the NaN values from the m_ratings Series
    m_ratings = m_ratings.dropna()
    #Drop the corresponding cosine scores from the sim_scores series
    sim_scores = sim_scores.drop(idx)
    #Compute the final weighted mean
    if sim_scores.sum() < 5:
      wmean_rating = 0
    else:
      wmean_rating = float("%.2f" %(np.divide(np.dot(sim_scores, m_ratings),sim_scores.sum())))

  else:
    #Default to a rating of 3.0 in the absence of any information
    wmean_rating = 3.0
  return wmean_rating

In [ ]:
print("Please enter user_id:")
user_id = int(input())
print(f"\nThe top 10 recommended movies for user {user_id} \n")

us = cosine_sim[user_id].sort_values(ascending=False).reset_index().loc[1]
rate = [[],[]]
for i in r_matrix.loc[us['index']].index:
    rate[0].append(i)
    rate[1].append(user_wmean(us['index'],i))
id_to_index = df_movies.reset_index().set_index('movie_id')
id_to_index.loc[rate[0]]['movie_genres']
scores = pd.DataFrame({'movie_genres':id_to_index.loc[rate[0]]['movie_genres'],'movie_title':id_to_index.loc[rate[0]]['movie_title'],'rating':rate[1]}).sort_values(by='rating', ascending=False)[0:10]
scores

Please enter user_id:
1

The top 10 recommended movies for user 1

,movie_genres,movie_title,rating
movie_id,,,
3338,[6],For All Mankind (1989),4.60
858,"[0, 5, 7]","Godfather, The (1972)",4.58
2019,"[0, 7]",Seven Samurai (The Magnificent Seven) (Shichin...,4.56
2905,"[0, 1]",Sanjuro (1962),4.55
318,[7],"Shawshank Redemption, The (1994)",4.54
527,"[7, 18]",Schindlers List (1993),4.53
1198,"[0, 1]",Raiders of the Lost Ark (1981),4.52
50,"[5, 16]","Usual Suspects, The (1995)",4.51
745,"[2, 4, 16]","Close Shave, A (1995)",4.51
1148,"[2, 4]","Wrong Trousers, The (1993)",4.49

## Evaluate Model

###Split dataset

In [ ]:
#Import the train_test_split function
from sklearn.model_selection import train_test_split
#Assign X as the original ratings dataframe and y as the user_id column of df_ratings
X = df_collab.copy()
y = df_collab['user_id']
#Split into training and test datasets, stratified along user_id
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25,
stratify=y, random_state=42)

###Define score function

In [ ]:
#Import the mean_squared_error function
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
#Function that computes the root mean squared error (or RMSE)
def rmse(y_true, y_pred):
  return np.sqrt(mean_squared_error(y_true, y_pred))
#Function to compute the RMSE score obtained on the testing set by a model
def score(cf_model):
  #Construct a list of user-movie tuples from the testing dataset
  id_pairs = zip(X_test['user_id'], X_test['movie_id'])
  #Predict the rating for every user-movie tuple
  y_pred = np.array([cf_model(user, movie) for (user, movie) in
  id_pairs])
  #Extract the actual ratings given by the users in the test data
  y_true = np.array(X_test['rating'])
  #Return the final RMSE score
  return (r2_score(y_true, y_pred),mean_squared_error(y_true, y_pred))

###Create rating matrix

In [ ]:
#Build the ratings matrix using pivot_table function
r_matrix = X_train.pivot_table(values='rating', index='user_id',columns='movie_id')
print(r_matrix.shape)
r_matrix

(6040, 3666)

movie_id,1,2,3,4,5,6,7,8,9,10,...,3943,3944,3945,3946,3947,3948,3949,3950,3951,3952
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,NaN,NaN,NaN,2.0,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6037,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6040,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

###Mean

In [ ]:
# Mean
# The rating of each user is assigned equal weight

#User Based Collaborative Filter using Mean Ratings
def cf_user_mean(user_id, movie_id):
  #Check if movie_id exists in r_matrix
  if movie_id in r_matrix:
  #Compute the mean of all the ratings given to the movie
    mean_rating = r_matrix[movie_id].mean()
  else:
  #Default to a rating of 3.0 in the absence of any information
    mean_rating = 3.0
  return mean_rating
#Compute R2 and RMSE for the Mean model
R2, RMSE = (score(cf_user_mean))

print(f"R2 score : {R2}")
print(f"RMSE score :{RMSE}")

R2 score : 0.23167185489439956
RMSE score :0.9607954894900539

###Weighted Mean

In [ ]:
#Create a dummy ratings matrix with all null values imputed to 0
r_matrix_dummy = r_matrix.copy().fillna(0)
# Import cosine_score
from sklearn.metrics.pairwise import cosine_similarity
#Compute the cosine similarity matrix using the dummy ratings matrix
cosine_sim = cosine_similarity(r_matrix_dummy, r_matrix_dummy)
#Convert into pandas dataframe
cosine_sim = pd.DataFrame(cosine_sim, index=r_matrix.index,columns=r_matrix.index)
cosine_sim

user_id,1,2,3,4,5,6,7,8,9,10,...,6031,6032,6033,6034,6035,6036,6037,6038,6039,6040
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.096382,0.120610,0.132455,0.090158,0.179222,0.059678,0.138241,0.226148,0.255288,...,0.170588,0.082006,0.069807,0.033663,0.114877,0.186329,0.135979,0.000000,0.174604,0.133590
2,0.096382,1.000000,0.151479,0.171176,0.114394,0.100865,0.305787,0.203337,0.190198,0.226861,...,0.112503,0.091222,0.268565,0.014286,0.183384,0.228241,0.206273,0.066118,0.066457,0.218276
3,0.120610,0.151479,1.000000,0.151227,0.062907,0.074603,0.138332,0.077656,0.126457,0.213655,...,0.092960,0.125864,0.161507,0.000000,0.097308,0.143264,0.107744,0.120234,0.094675,0.133144
4,0.132455,0.171176,0.151227,1.000000,0.045094,0.013529,0.130339,0.100856,0.093651,0.120738,...,0.163629,0.093041,0.382803,0.000000,0.082097,0.170583,0.127464,0.062907,0.064634,0.137968
5,0.090158,0.114394,0.062907,0.045094,1.000000,0.047449,0.126257,0.220817,0.261330,0.117052,...,0.100652,0.035732,0.061806,0.054151,0.179083,0.293365,0.172686,0.020459,0.027689,0.241437
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,0.186329,0.228241,0.143264,0.170583,0.293365,0.093583,0.122441,0.227400,0.239607,0.338072,...,0.131294,0.209843,0.186426,0.103431,0.267405,1.000000,0.341462,0.124174,0.219115,0.411891
6037,0.135979,0.206273,0.107744,0.127464,0.172686,0.065788,0.111673,0.144395,0.225055,0.246902,...,0.142309,0.276134,0.129985,0.118749,0.141676,0.341462,1.000000,0.049015,0.252146,0.428240
6038,0.000000,0.066118,0.120234,0.062907,0.020459,0.065711,0.000000,0.019242,0.093470,0.113789,...,0.108837,0.106897,0.040689,0.000000,0.063967,0.124174,0.049015,1.000000,0.161714,0.099300
6039,0.174604,0.066457,0.094675,0.064634,0.027689,0.167303,0.014977,0.044660,0.046434,0.296776,...,0.118776,0.250994,0.053750,0.102168,0.068399,0.219115,0.252146,0.161714,1.000000,0.228332
6040,0.133590,0.218276,0.133144,0.137968,0.241437,0.083436,0.080680,0.148123,0.215819,0.255793,...,0.154574,0.291988,0.115540,0.118840,0.168997,0.411891,0.428240,0.099300,0.228332,1.000000

In [ ]:
# Weighted Mean                         #time :7m42s
# we need to avoid all users that have not rated movie m
#User Based Collaborative Filter using Weighted Mean Ratings
def cf_user_wmean(user_id, movie_id):
  #Check if movie_id exists in r_matrix
  if movie_id in r_matrix:
    #Get the similarity scores for the user in question with every other user
    sim_scores = cosine_sim[user_id]
    #Get the user ratings for the movie in question
    m_ratings = r_matrix[movie_id]
    #Extract the indices containing NaN in the m_ratings series
    idx = m_ratings[m_ratings.isnull()].index
    #Drop the NaN values from the m_ratings Series
    m_ratings = m_ratings.dropna()
    #Drop the corresponding cosine scores from the sim_scores series
    sim_scores = sim_scores.drop(idx)
    #Compute the final weighted mean
    if sim_scores.sum() < 5:
      wmean_rating = 0
    else:
      wmean_rating = float("%.2f" %(np.divide(np.dot(sim_scores, m_ratings),sim_scores.sum())))

  else:
    #Default to a rating of 3.0 in the absence of any information
    wmean_rating = 3.0
  return wmean_rating

#Compute R2 and RMSE for the WeightedMean model
R2, RMSE = (score(cf_user_wmean))

print(f"R2 score : {R2}")
print(f"RMSE score :{RMSE}")

R2 score : 0.12071269082119707
RMSE score :1.0995500893810513

# Content-based Recommendation

## Content-based Model

In [ ]:
df_c = pd.DataFrame({'user_id':df_ratings['user_id'],'movie_id':df_ratings['movie_id']}).sort_values(by='user_id').reset_index()
df_c.drop(columns='index')

         user_id  movie_id
0              1       919
1              1      3105
2              1      1022
3              1       745
4              1      1246
...          ...       ...
1000204     6040      1080
1000205     6040       573
1000206     6040      2300
1000207     6040      2391
1000208     6040      1276

[1000209 rows x 2 columns]

In [ ]:
movies_id=[]
for i in (np.unique(df_c['user_id'])):
  movie_id = np.unique(df_c.loc[df_c['user_id'] == i]['movie_id'])
  movies_id.append(movie_id)
user_id = np.unique(df_c['user_id'])

In [ ]:
df_user_movie = pd.DataFrame({'user_id':user_id,'movie_id':movies_id})
df_user_movie

      user_id                                           movie_id
0           1  [1, 48, 150, 260, 527, 531, 588, 594, 595, 608...
1           2  [21, 95, 110, 163, 165, 235, 265, 292, 318, 34...
2           3  [104, 260, 480, 552, 590, 593, 648, 653, 733, ...
3           4  [260, 480, 1036, 1097, 1196, 1198, 1201, 1210,...
4           5  [6, 16, 24, 29, 32, 34, 36, 39, 41, 47, 50, 52...
...       ...                                                ...
6035     6036  [4, 6, 11, 16, 17, 21, 24, 25, 26, 28, 29, 30,...
6036     6037  [17, 32, 34, 47, 50, 111, 198, 235, 247, 260, ...
6037     6038  [232, 356, 920, 1079, 1136, 1148, 1183, 1210, ...
6038     6039  [48, 107, 111, 199, 260, 282, 364, 471, 588, 6...
6039     6040  [1, 17, 25, 29, 30, 32, 34, 36, 39, 45, 50, 58...

[6040 rows x 2 columns]

In [ ]:
query = df_movies.drop(columns=['movie_title','movie_id'])
query

     movie_genres
0          [5, 7]
1             [7]
2             [4]
3             [0]
4            [10]
...           ...
3878       [2, 3]
3879      [7, 14]
3880    [2, 3, 4]
3881          [4]
3882      [4, 10]

[3883 rows x 1 columns]

In [ ]:
for i in range(query.index.stop):
  query['movie_genres'][i] = str(query['movie_genres'][i]).replace(',',' ').replace('[','').replace(']','')

In [ ]:
query

     movie_genres
0             5 7
1               7
2               4
3               0
4              10
...           ...
3878          2 3
3879         7 14
3880        2 3 4
3881            4
3882         4 10

[3883 rows x 1 columns]

In [ ]:
import itertools
movie_genres=[]
for i in (np.unique(df_c['user_id'])):
    movie_id = np.unique(df_c.loc[df_c['user_id'] == i]['movie_id'])
    movie_id = [movie_id[i] for i in range(len(movie_id)) if movie_id[i] <= len(df_movies['movie_genres'])-1]
    movie_genre = df_movies['movie_genres'].iloc[movie_id]
    flat_list = itertools.chain(*(movie_genre))
    movie_genres.append(str(list(flat_list)).replace(',',' ').replace('[',' ').replace(']','').replace("'",''))

In [ ]:
df_con = pd.DataFrame({'movie_genres':movie_genres},index=user_id)
df_con

                                           movie_genres
1      7  7  4  12  10  7  0  1  3  4  0  5  16  7  ...
2      0  7  1  3  7  4  4  9  0  7  0  7  16  4  10...
3      10  15  16  10  7  0  1  7  16  7  18  7  4  ...
4      10  7  4  13  7  7  15  16  6  4  2  3  7  4 ...
5      7  4  14  7  4  7  4  2  3  0  4  12  4  7  7...
...                                                 ...
6036   10  7  0  4  7  4  14  7  0  7  7  0  7  6  4...
6037   7  7  4  7  6  4  4  0  7  10  10  4  7  14  ...
6038   1  2  3  12  4  7  14  4  7  6  4  14  16  0 ...
6039   7  4  7  4  7  10  7  4  14  7  14  0  5  0  ...
6040   7  7  0  4  5  7  4  2  3  0  4  12  6  6  1 ...

[6040 rows x 1 columns]

In [ ]:
Alldata = pd.DataFrame(query.append(df_con))
Alldata = Alldata.reset_index().drop('index', axis=1)
Alldata

                                           movie_genres
0                                                   5 7
1                                                     7
2                                                     4
3                                                     0
4                                                    10
...                                                 ...
9918   10  7  0  4  7  4  14  7  0  7  7  0  7  6  4...
9919   7  7  4  7  6  4  4  0  7  10  10  4  7  14  ...
9920   1  2  3  12  4  7  14  4  7  6  4  14  16  0 ...
9921   7  4  7  4  7  10  7  4  14  7  14  0  5  0  ...
9922   7  7  0  4  5  7  4  2  3  0  4  12  6  6  1 ...

[9923 rows x 1 columns]

In [ ]:
Alldata['movie_genres'][0:3883]  # Movies

0         5 7
1           7
2           4
3           0
4          10
        ...
3878      2 3
3879     7 14
3880    2 3 4
3881        4
3882     4 10
Name: movie_genres, Length: 3883, dtype: object

In [ ]:
from sklearn.feature_extraction.text import TfidfTransformer, TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

tr_idf_model  = TfidfVectorizer(lowercase=False,token_pattern=r"(?u)\b\w\w*\b")
tf_idf_vector = tr_idf_model.fit_transform(Alldata['movie_genres'])
tr_idf_model.get_feature_names_out()
print(type(tf_idf_vector), tf_idf_vector.shape)
tf_idf_array = tf_idf_vector.toarray()
print(tf_idf_array)
words_set = tr_idf_model.get_feature_names()
print(words_set)
df_tf_idf = pd.DataFrame(tf_idf_array, columns = words_set)
df_tf_idf

<class 'scipy.sparse.csr.csr_matrix'> (9923, 18)
[[0.         0.         0.         ... 0.64407722 0.         0.        ]
 [0.         0.         0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.16602589 0.08748313 0.08528915 ... 0.44229384 0.         0.        ]
 [0.17338186 0.09135917 0.13360199 ... 0.70566558 0.01805518 0.03977061]
 [0.20820611 0.09816062 0.16888035 ... 0.68602952 0.03423412 0.00754084]]
['0', '1', '10', '12', '13', '14', '15', '16', '18', '19', '2', '3', '4', '5', '6', '7', '8', '9']

,0,1,10,12,13,14,15,16,18,19,2,3,4,5,6,7,8,9
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.764960,0.000000,0.644077,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9918,0.256504,0.144890,0.149689,0.071544,0.059134,0.229482,0.142515,0.226996,0.087965,0.027918,0.066638,0.142885,0.515028,0.110375,0.079074,0.661462,0.046157,0.031066
9919,0.178305,0.098898,0.163910,0.031664,0.086539,0.189095,0.145915,0.273684,0.030171,0.058034,0.073561,0.148511,0.425876,0.168257,0.095725,0.733341,0.035181,0.038747
9920,0.166026,0.087483,0.085289,0.093363,0.000000,0.418174,0.000000,0.083481,0.088963,0.102671,0.185916,0.175160,0.691936,0.000000,0.094085,0.442294,0.000000,0.000000
9921,0.173382,0.091359,0.133602,0.048750,0.033309,0.247465,0.089862,0.247009,0.154841,0.017870,0.016179,0.060974,0.521873,0.091430,0.032751,0.705666,0.018055,0.039771
9922,0.208206,0.098161,0.168880,0.080109,0.088420,0.226326,0.130629,0.242440,0.076334,0.040660,0.085897,0.144514,0.497294,0.121351,0.086938,0.686030,0.034234,0.007541

In [ ]:
# Import linear_kernel to compute the dot product
from sklearn.metrics.pairwise import linear_kernel
# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tf_idf_array, tf_idf_array[0:6040])
cosine_sim.shape

(9923, 6040)

In [ ]:
sim = pd.DataFrame(cosine_sim)
sim

,0,1,2,3,4,5,6,7,8,9,...,6030,6031,6032,6033,6034,6035,6036,6037,6038,6039
0,1.000000,0.644077,0.000000,0.000000,0.000000,0.644077,0.644077,0.000000,0.644077,0.000000,...,0.560838,0.576256,0.401141,0.497502,0.544738,0.524687,0.551106,0.531413,0.526992,0.586883
1,0.644077,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,...,0.707462,0.669759,0.495686,0.557826,0.845766,0.698685,0.667373,0.690692,0.723452,0.668023
2,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.676759,...,0.422586,0.332631,0.610972,0.317337,0.407119,0.452457,0.556830,0.471958,0.463493,0.505680
3,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.296948,0.466905,0.202983,0.513967,0.146529,0.262269,0.112732,0.214567,0.197855,0.266937
4,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.119060,0.110702,0.156412,0.176020,0.075273,0.158506,0.193038,0.137781,0.167407,0.112196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9918,0.510465,0.661462,0.515028,0.256504,0.149689,0.661462,0.661462,0.515028,0.661462,0.517496,...,0.988801,0.941034,0.935701,0.904827,0.937079,0.993084,0.968767,0.983512,0.990817,0.986715
9919,0.601038,0.733341,0.425876,0.178305,0.163910,0.733341,0.733341,0.425876,0.733341,0.427428,...,0.977645,0.936052,0.898275,0.894454,0.953082,0.985339,0.968847,0.969689,0.987088,0.979399
9920,0.284871,0.442294,0.691936,0.166026,0.085289,0.442294,0.442294,0.691936,0.442294,0.776136,...,0.842565,0.743462,0.850070,0.704365,0.786187,0.857399,0.866986,0.867758,0.849908,0.865690
9921,0.524443,0.705666,0.521873,0.173382,0.133602,0.705666,0.705666,0.521873,0.705666,0.535367,...,0.973801,0.915286,0.890265,0.871028,0.952413,0.982963,0.972980,0.958124,0.979055,0.977095
9922,0.534685,0.686030,0.497294,0.208206,0.168880,0.686030,0.686030,0.497294,0.686030,0.503171,...,0.983641,0.930200,0.921846,0.892476,0.945121,0.993261,0.975829,0.977059,0.990856,0.986102

In [ ]:
df_user_movie

      user_id                                           movie_id
0           1  [1, 48, 150, 260, 527, 531, 588, 594, 595, 608...
1           2  [21, 95, 110, 163, 165, 235, 265, 292, 318, 34...
2           3  [104, 260, 480, 552, 590, 593, 648, 653, 733, ...
3           4  [260, 480, 1036, 1097, 1196, 1198, 1201, 1210,...
4           5  [6, 16, 24, 29, 32, 34, 36, 39, 41, 47, 50, 52...
...       ...                                                ...
6035     6036  [4, 6, 11, 16, 17, 21, 24, 25, 26, 28, 29, 30,...
6036     6037  [17, 32, 34, 47, 50, 111, 198, 235, 247, 260, ...
6037     6038  [232, 356, 920, 1079, 1136, 1148, 1183, 1210, ...
6038     6039  [48, 107, 111, 199, 260, 282, 364, 471, 588, 6...
6039     6040  [1, 17, 25, 29, 30, 32, 34, 36, 39, 45, 50, 58...

[6040 rows x 2 columns]

In [ ]:
print("Please enter user_id:")
user_id = int(input())
print(f"\nThe top 10 recommended movies for user {user_id} \n")

pre_movies_id = df_user_movie.loc[user_id-1]['movie_id']
id_to_index = df_movies.reset_index().set_index('movie_id')
pre_movies_index = set(id_to_index.loc[pre_movies_id]['index'])

recommended = [i for i in sim.sort_values(user_id-1,ascending=False)[user_id-1].index if i <= 3882 and i not in pre_movies_index and i!=user_id-1]
movies = df_movies.iloc[recommended[:10]][['movie_genres','movie_id', 'movie_title']]
movies

Please enter user_id:
1

The top 10 recommended movies for user 1

     movie_genres  movie_id                                        movie_title
2799       [5, 7]      2332                                       Belly (1998)
2775       [5, 7]      2199                                     Phoenix (1998)
2762       [5, 7]       874                 Killer: A Journal of Murder (1995)
369        [5, 7]      1945                           On the Waterfront (1954)
717        [5, 7]       391                                Jasons Lyric (1994)
2696       [5, 7]      3761  Blood In, Blood Out (a.k.a. Bound by Honor) (1...
375        [5, 7]       296                                Pulp Fiction (1994)
1646       [5, 7]      3019                            Drugstore Cowboy (1989)
2582       [5, 7]      3229                         Another Mans Poison (1952)
3680       [5, 7]      1466                               Donnie Brasco (1997)

##base on Title and Genres

In [ ]:
df_content = df_movies.copy()
df_content

     movie_genres  movie_id                                        movie_title
0          [5, 7]      1729                                Jackie Brown (1997)
1             [7]      1486                             Quiet Room, The (1996)
2             [4]      3086  March of the Wooden Soldiers (a.k.a. Laurel & ...
3             [0]      2965                             Omega Code, The (1999)
4            [10]      2853  Communion (a.k.a. Alice, Sweet Alice/Holy Terr...
...           ...       ...                                                ...
3878       [2, 3]       596                                   Pinocchio (1940)
3879      [7, 14]      2020                          Dangerous Liaisons (1988)
3880    [2, 3, 4]      3751                                 Chicken Run (2000)
3881          [4]      3688                                      Porkys (1981)
3882      [4, 10]      3693                          Toxic Avenger, The (1985)

[3883 rows x 3 columns]

In [ ]:
geners = {0:'Action', 1:'Adventure', 2:'Animation', 3:'Childern', 4:'Comedy', 5:'Crime',
           6:'Documentary', 7:'Drama', 8:'Fantasy', 9:'Film-Noir', 10:'Mystery',11:'Mudical',
           12:'Mystery', 13:'Romance', 14:'Sci-Fi', 15:'Thriller', 16:'War', 17:'Western'}
           
for movie in range(df_content.index.stop):
  st = []
  for item in df_content['movie_genres'][movie]:
    st.append(str(item))
  df_content['movie_genres'][movie] = st

# Convert the stringified objects into the native python objects
year = []
for i in range(df_content.index.stop):
  year.append(str(df_content['movie_title'][i].split('(')[-1].replace(')','')))
  df_content['movie_title'][i] = df_content['movie_title'][i][0:-6].replace(', The','').replace(', A','')
df_content['movie_year'] = year

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [ ]:
df_content

,movie_genres,movie_id,movie_title,movie_year
0,"[5, 7]",1729,Jackie Brown,1997
1,[7],1486,Quiet Room,1996
2,[4],3086,March of the Wooden Soldiers (a.k.a. Laurel & ...,1934
3,[0],2965,Omega Code,1999
4,[10],2853,"Communion (a.k.a. Alice, Sweet Alice/Holy Terr...",1977
...,...,...,...,...
3878,"[2, 3]",596,Pinocchio,1940
3879,"[7, 14]",2020,Dangerous Liaisons,1988
3880,"[2, 3, 4]",3751,Chicken Run,2000
3881,[4],3688,Porkys,1981
3882,"[4, 10]",3693,Toxic Avenger,1985

In [ ]:
#Function that creates a soup out of the desired metadata
def create_soup(x):
  return ''.join(x['movie_title']) + ' '.join(x['movie_genres'])

# Create the new soup feature
df_content['soup'] = df_content.apply(create_soup, axis=1)
#Display the soup of the first movie
df_content.iloc[0]['soup']

'Jackie Brown 5 7'

In [ ]:
#Define a new CountVectorizer object and create vectors for the soup
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df_content['soup'])

In [ ]:
#Import cosine_similarity function
from sklearn.metrics.pairwise import cosine_similarity
#Compute the cosine similarity score (equivalent to dot product for tf-idf vectors)
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [ ]:
# Reset index of your df and construct reverse mapping again
df_content = df_content.reset_index()
indices2 = pd.Series(df_content.index, index=df_content['soup'])

In [ ]:
df_content

,index,movie_genres,movie_id,movie_title,movie_year,soup
0,0,"[5, 7]",1729,Jackie Brown,1997,Jackie Brown 5 7
1,1,[7],1486,Quiet Room,1996,Quiet Room 7
2,2,[4],3086,March of the Wooden Soldiers (a.k.a. Laurel & ...,1934,March of the Wooden Soldiers (a.k.a. Laurel & ...
3,3,[0],2965,Omega Code,1999,Omega Code 0
4,4,[10],2853,"Communion (a.k.a. Alice, Sweet Alice/Holy Terr...",1977,"Communion (a.k.a. Alice, Sweet Alice/Holy Terr..."
...,...,...,...,...,...,...
3878,3878,"[2, 3]",596,Pinocchio,1940,Pinocchio 2 3
3879,3879,"[7, 14]",2020,Dangerous Liaisons,1988,Dangerous Liaisons 7 14
3880,3880,"[2, 3, 4]",3751,Chicken Run,2000,Chicken Run 2 3 4
3881,3881,[4],3688,Porkys,1981,Porkys 4
3882,3882,"[4, 10]",3693,Toxic Avenger,1985,Toxic Avenger 4 10

In [ ]:
indices2

soup
Jackie Brown 5 7                                                        0
Quiet Room 7                                                            1
March of the Wooden Soldiers (a.k.a. Laurel & Hardy in Toyland) 4       2
Omega Code 0                                                            3
Communion (a.k.a. Alice, Sweet Alice/Holy Terror) 10                    4
                                                                     ...
Pinocchio 2 3                                                        3878
Dangerous Liaisons 7 14                                              3879
Chicken Run 2 3 4                                                    3880
Porkys 4                                                             3881
Toxic Avenger 4 10                                                   3882
Length: 3883, dtype: int64

In [ ]:
def content_recommender(title, cosine_sim=cosine_sim, df=df_content,indices=indices):
  # Obtain the index of the movie that matches the title
  idx = indices[title]
  # Get the pairwsie similarity scores of all movies with that movie
  # And convert it into a list of tuples as described above
  sim_scores = list(enumerate(cosine_sim[idx]))
  # Sort the movies based on the cosine similarity scores
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  # Get the scores of the 10 most similar movies. Ignore the first movie.
  sim_scores = sim_scores[1:11]
  # Get the movie indices
  movie_indices = [i[0] for i in sim_scores]
  # Return the top 10 most similar movies
  return df_content['movie_title'].iloc[movie_indices]

recommend_movies = content_recommender(indices2[0], cosine_sim2, df_content, indices2)

In [ ]:
for i in recommend_movies.index:
    print(df_content.iloc[i])
    print("\n")

index                          1425
movie_genres                    [7]
movie_id                       2442
movie_title      Hilary and Jackie
movie_year                     1998
soup            Hilary and Jackie 7
Name: 1425, dtype: object


index                                                 438
movie_genres                                      [7, 14]
movie_id                                             1643
movie_title         Mrs. Brown (Her Majesty, Mrs. Brown)
movie_year                                           1997
soup            Mrs. Brown (Her Majesty, Mrs. Brown) 7 14
Name: 438, dtype: object


index                                   954
movie_genres                            [0]
movie_id                               1429
movie_title      Jackie Chans First Strike
movie_year                             1996
soup            Jackie Chans First Strike 0
Name: 954, dtype: object


index                      1
movie_genres             [7]
movie_id                1486
movie_title      Quiet Room
movie_year              1996
soup            Quiet Room 7
Name: 1, dtype: object


index                                                           2
movie_genres                                                  [4]
movie_id                                                     3086
movie_title     March of the Wooden Soldiers (a.k.a. Laurel & ...
movie_year                                                   1934
soup            March of the Wooden Soldiers (a.k.a. Laurel & ...
Name: 2, dtype: object


index                      3
movie_genres             [0]
movie_id                2965
movie_title      Omega Code
movie_year              1999
soup            Omega Code 0
Name: 3, dtype: object


index                                                           4
movie_genres                                                 [10]
movie_id                                                     2853
movie_title     Communion (a.k.a. Alice, Sweet Alice/Holy Terr...
movie_year                                                   1977
soup            Communion (a.k.a. Alice, Sweet Alice/Holy Terr...
Name: 4, dtype: object


index                   5
movie_genres          [7]
movie_id              503
movie_title      New Age
movie_year           1994
soup            New Age 7
Name: 5, dtype: object


index                          6
movie_genres                 [7]
movie_id                     848
movie_title      Spitfire Grill
movie_year                  1996
soup            Spitfire Grill 7
Name: 6, dtype: object


index                            7
movie_genres                   [4]
movie_id                      3544
movie_title      Shakes the Clown
movie_year                    1991
soup            Shakes the Clown 4
Name: 7, dtype: object

##base on Title

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
punc = "”’!()-[]{};:'”, ./?@#$%^&*_~”’"
i = 0
for text in df_content['movie_title']:
  
  text_tokens = word_tokenize(str.lower(text[0:-6]))

  tokens_without_sw = [word for word in text_tokens if not word in punc]

  df_content['movie_title'][i] = (" ").join(e for e in tokens_without_sw)
  i += 1

df_content

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     movie_genres  movie_id                                        movie_title
0          [5, 7]      1729                                       jackie brown
1             [7]      1486                                     quiet room the
2             [4]      3086  march of the wooden soldiers a.k.a laurel hard...
3             [0]      2965                                     omega code the
4            [10]      2853      communion a.k.a alice sweet alice/holy terror
...           ...       ...                                                ...
3878       [2, 3]       596                                          pinocchio
3879      [7, 14]      2020                                 dangerous liaisons
3880    [2, 3, 4]      3751                                        chicken run
3881          [4]      3688                                             porkys
3882      [4, 10]      3693                                  toxic avenger the

[3883 rows x 3 columns]

In [ ]:
# Function to sanitize data to prevent ambiguity.
# Removes spaces and converts to lowercase
def sanitize(x):
  if isinstance(x, list):
    #Strip spaces and convert to lowercase
    return [str.lower(i.replace(" ", "")) for i in x]
  else:
    #Check if director exists. If not, return empty string
    if isinstance(x, str):
      return str.lower(x.replace(" ", ""))
    else:
      return ''
#Apply the generate_list function to cast, keywords, director and genres
df_content['movie_title'] = df_content['movie_title'].apply(sanitize)
df_content

     movie_genres  movie_id                                        movie_title
0          [5, 7]      1729                                        jackiebrown
1             [7]      1486                                       quietroomthe
2             [4]      3086  marchofthewoodensoldiersa.k.alaurelhardyintoyland
3             [0]      2965                                       omegacodethe
4            [10]      2853           communiona.k.aalicesweetalice/holyterror
...           ...       ...                                                ...
3878       [2, 3]       596                                          pinocchio
3879      [7, 14]      2020                                  dangerousliaisons
3880    [2, 3, 4]      3751                                         chickenrun
3881          [4]      3688                                             porkys
3882      [4, 10]      3693                                    toxicavengerthe

[3883 rows x 3 columns]

In [ ]:
#Import TfIdfVectorizer from the scikit-learn library
from sklearn.feature_extraction.text import TfidfVectorizer
#Define a TF-IDF Vectorizer Object. Remove all english stopwords
tfidf = TfidfVectorizer(stop_words='english')
#Replace NaN with an empty string
df_content['movie_title'] = df_content['movie_title'].fillna('')
#Construct the required TF-IDF matrix by applying the fit_transform method on the overview feature
tfidf_matrix = tfidf.fit_transform(df_content['movie_title'])
#Output the shape of tfidf_matrix
tfidf_matrix.shape
# Import linear_kernel to compute the dot product
from sklearn.metrics.pairwise import linear_kernel
# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim.shape

(3883, 3883)

In [ ]:
#Construct a reverse mapping of indices and movie titles, and drop duplicate titles, if any
indices = pd.Series(df_content.index, index=df_content['movie_title']).drop_duplicates()
# Function that takes in movie title as input and gives recommendations
def content_recommender(title, cosine_sim=cosine_sim, df=df_content,indices=indices):
  # Obtain the index of the movie that matches the title
  idx = indices[title]
  # Get the pairwsie similarity scores of all movies with that movie
  # And convert it into a list of tuples as described above
  sim_scores = list(enumerate(cosine_sim[idx]))
  # Sort the movies based on the cosine similarity scores
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  # Get the scores of the 10 most similar movies. Ignore the first movie.
  sim_scores = sim_scores[1:11]
  # Get the movie indices
  movie_indices = [i[0] for i in sim_scores]
  # Return the top 10 most similar movies
  return df_content['movie_title'].iloc[movie_indices]
content_recommender('jackie brown')

# Hybrid Model

1. Take in a movie_id and user_id and ratings as input
2. Use a content-based model to compute the 25 most similar movies
3. Compute the predicted ratings that the user might give these 25 movies using a collaborative filter
4. Return the top 10 movies with the highest predicted rating

In [ ]:
df_ratings

,bucketized_user_age,movie_genres,movie_id,movie_title,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,user_zip_code
0,35.0,"[0, 7]",3107,Backdraft (1991),977432193,True,130,18,technician/engineer,5.0,50021.0
1,25.0,[7],2114,"Outsiders, The (1983)",965932967,False,3829,0,academic/educator,4.0,22307.0
2,18.0,"[4, 15]",256,Junior (1994),1012103552,False,1265,21,writer,1.0,49321.0
3,18.0,"[0, 10]",1389,Jaws 3-D (1983),972004605,True,2896,14,sales/marketing,5.0,60073.0
4,18.0,[0],3635,"Spy Who Loved Me, The (1977)",961180111,True,5264,17,college/grad student,4.0,15217.0
...,...,...,...,...,...,...,...,...,...,...,...
1000204,25.0,"[4, 7]",2290,Stardust Memories (1980),964985140,True,4508,21,writer,4.0,15701.0
1000205,25.0,"[0, 1, 15]",2643,Superman IV: The Quest for Peace (1987),965335130,True,4167,21,writer,1.0,22032.0
1000206,25.0,"[7, 16]",593,"Silence of the Lambs, The (1991)",958054732,True,5799,3,customer service,5.0,80916.0
1000207,25.0,[7],1693,Amistad (1997),968543692,False,3224,14,sales/marketing,3.0,93428.0
1000208,35.0,"[7, 16]",454,"Firm, The (1993)",959814459,True,5493,12,programmer,3.0,96797.0

In [ ]:
df_collab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 3 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   user_id   1000209 non-null  int64
 1   movie_id  1000209 non-null  int64
 2   rating    1000209 non-null  float32
dtypes: float32(1), int64(2)
memory usage: 19.1 MB

In [ ]:
#Build the SVD based Collaborative filter
!pip install surprise
from surprise import SVD, Reader, Dataset
from surprise.model_selection import KFold
from surprise import NormalPredictor

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 3.8 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1633727 sha256=4a4906e70a46845e2c15c3844b6e9464e190a471ab66e4267524bdc13447fd1f
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [ ]:
# Do not run this cell 

from surprise import *
reader = Reader()
data = Dataset.load_from_df(df_collab[['user_id', 'movie_id', 'rating']],reader)
benchmark = []
# Iterate over all algorithms
for algorithm in [SVD(), SVDpp(), SlopeOne(), NMF(), NormalPredictor(), KNNBaseline(), KNNBasic(), KNNWithMeans(), KNNWithZScore(), BaselineOnly(), CoClustering()]:
    # Perform cross validation
    results = cross_validate(algorithm, data, measures=['RMSE'], cv=3, verbose=False)
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark.append(tmp)
    
pd.DataFrame(benchmark).set_index('Algorithm').sort_values('test_rmse')

In [ ]:
from surprise.model_selection import cross_validate
from sklearn.model_selection import train_test_split
reader = Reader()
data = Dataset.load_from_df(df_collab[['user_id', 'movie_id', 'rating']],reader)

# kf = KFold(n_splits=2)
# trainset, testset = kf.split(data)
svd = SVD()
trainset = data.build_full_trainset()
svd.fit(trainset)

In [ ]:
from sklearn.feature_extraction.text import TfidfTransformer, TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer

tr_idf_model  = TfidfVectorizer(lowercase=False,token_pattern=r"(?u)\b\w\w*\b")
tf_idf_vector = tr_idf_model.fit_transform(query['movie_genres'])
tr_idf_model.get_feature_names_out()
print(type(tf_idf_vector), tf_idf_vector.shape)
tf_idf_array = tf_idf_vector.toarray()
print(tf_idf_array)
words_set = tr_idf_model.get_feature_names()
print(words_set)
df_tf_idf = pd.DataFrame(tf_idf_array, columns = words_set)
df_tf_idf

<class 'scipy.sparse.csr.csr_matrix'> (3883, 18)
[[0.         0.         0.         ... 0.43432426 0.         0.        ]
 [0.         0.         0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.84424004 ... 0.         0.         0.        ]]
['0', '1', '10', '12', '13', '14', '15', '16', '18', '19', '2', '3', '4', '5', '6', '7', '8', '9']

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,0,1,10,12,13,14,15,16,18,19,2,3,4,5,6,7,8,9
0,0.0,0.0,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.900757,0.0,0.434324,0.0,0.0
1,0.0,0.0,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.0,0.0
2,0.0,0.0,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.0,0.0
3,1.0,0.0,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0
4,0.0,0.0,1.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0.0,0.0,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.776384,0.630260,0.000000,0.000000,0.0,0.000000,0.0,0.0
3879,0.0,0.0,0.00000,0.0,0.0,0.855082,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.518492,0.0,0.0
3880,0.0,0.0,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.728901,0.591714,0.344351,0.000000,0.0,0.000000,0.0,0.0
3881,0.0,0.0,0.00000,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.0,0.0
3882,0.0,0.0,0.84424,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.535965,0.000000,0.0,0.000000,0.0,0.0

In [ ]:
# Import linear_kernel to compute the dot product
from sklearn.metrics.pairwise import linear_kernel
# Compute the cosine similarity matrix
cosine_simm = linear_kernel(tf_idf_array, tf_idf_array)
cosine_sim_map = pd.DataFrame(cosine_simm)
cosine_sim_map

,0,1,2,3,4,5,6,7,8,9,...,3873,3874,3875,3876,3877,3878,3879,3880,3881,3882
0,1.000000,0.434324,0.000000,0.0,0.00000,0.434324,0.434324,0.000000,0.434324,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.225194,0.000000,0.000000,0.000000
1,0.434324,1.000000,0.000000,0.0,0.00000,1.000000,1.000000,0.000000,1.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.518492,0.000000,0.000000,0.000000
2,0.000000,0.000000,1.000000,0.0,0.00000,0.000000,0.000000,1.000000,0.000000,0.573172,...,1.000000,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.344351,1.000000,0.535965
3,0.000000,0.000000,0.000000,1.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.641205,0.000000,0.509984,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.0,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.844240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.938841,0.000000,0.000000
3879,0.225194,0.518492,0.000000,0.0,0.00000,0.518492,0.518492,0.000000,0.518492,0.700684,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
3880,0.000000,0.000000,0.344351,0.0,0.00000,0.000000,0.000000,0.344351,0.000000,0.197372,...,0.344351,0.0,0.000000,0.344351,0.000000,0.938841,0.000000,1.000000,0.344351,0.184560
3881,0.000000,0.000000,1.000000,0.0,0.00000,0.000000,0.000000,1.000000,0.000000,0.573172,...,1.000000,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.344351,1.000000,0.535965
3882,0.000000,0.000000,0.535965,0.0,0.84424,0.000000,0.000000,0.535965,0.000000,0.307200,...,0.535965,0.0,0.000000,0.535965,0.000000,0.000000,0.000000,0.184560,0.535965,1.000000

In [ ]:
list(enumerate(cosine_simm))

[(0, array([1.        , 0.43432426, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (1, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (2, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (3, array([0., 0., 0., ..., 0., 0., 0.])),
 (4, array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.84424004])),
 (5, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (6, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (7, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (8, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (9, array([0.        , 0.        , 0.57317238, ..., 0.19737232, 0.57317238,
         0.30720048])),
 (10, array([0.22871339, 0.52659594, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (11, array([0.19547426, 0.45006526, 0.51917319, ..., 0.17877766, 0.51917319,
         0.27825879])),
 (12, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (13, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (14, array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.62911221])),
 (15, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (16, array([0.        , 0.        , 0.57317238, ..., 0.19737232, 0.57317238,
         0.30720048])),
 (17, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (18, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (19, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (20, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (21, array([0.22871339, 0.52659594, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (22, array([0.28449379, 0.65502625, 0.75560612, ..., 0.26019351, 0.75560612,
         0.40497863])),
 (23, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (24, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (25, array([0., 0., 0., ..., 0., 0., 0.])),
 (26, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (27, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (28, array([0., 0., 0., ..., 0., 0., 0.])),
 (29, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (30, array([0.90075659, 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (31, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (32, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (33, array([0.22871339, 0.52659594, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (34, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (35, array([0., 0., 0., ..., 0., 0., 0.])),
 (36, array([0.        , 0.        , 0.        , ..., 0.93884109, 0.        ,
         0.        ])),
 (37, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (38, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (39, array([0.        , 0.        , 0.37057888, ..., 0.1276091 , 0.37057888,
         0.19861741])),
 (40, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (41, array([0.28449379, 0.65502625, 0.75560612, ..., 0.26019351, 0.75560612,
         0.40497863])),
 (42, array([0.28449379, 0.65502625, 0.75560612, ..., 0.26019351, 0.75560612,
         0.40497863])),
 (43, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (44, array([0.        , 0.        , 0.50298149, ..., 0.68461907, 0.50298149,
         0.2695806 ])),
 (45, array([0., 0., 0., ..., 0., 0., 0.])),
 (46, array([0.        , 0.        , 0.34680689, ..., 0.1194232 , 0.34680689,
         0.18587644])),
 (47, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (48, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (49, array([0.81682937, 0.35476882, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (50, array([0., 0., 0., ..., 0., 0., 0.])),
 (51, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (52, array([0.        , 0.        , 0.43342136, ..., 0.14924896, 0.43342136,
         0.23229879])),
 (53, array([0., 0., 0., ..., 0., 0., 0.])),
 (54, array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.84424004])),
 (55, array([1.        , 0.43432426, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (56, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (57, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (58, array([0.       , 0.       , 0.       , ..., 0.7097838, 0.       ,
         0.       ])),
 (59, array([0.22519367, 0.51849202, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (60, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (61, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (62, array([0.22519367, 0.51849202, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (63, array([0.14640384, 0.33708418, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (64, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (65, array([0., 0., 0., ..., 0., 0., 0.])),
 (66, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (67, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (68, array([0., 0., 0., ..., 0., 0., 0.])),
 (69, array([0.        , 0.        , 0.        , ..., 0.31403604, 0.        ,
         0.        ])),
 (70, array([0.28449379, 0.65502625, 0.75560612, ..., 0.26019351, 0.75560612,
         0.40497863])),
 (71, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (72, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (73, array([0., 0., 0., ..., 0., 0., 0.])),
 (74, array([0.        , 0.        , 0.50298149, ..., 0.68461907, 0.50298149,
         0.2695806 ])),
 (75, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (76, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (77, array([0.        , 0.        , 0.36842537, ..., 0.12686754, 0.36842537,
         0.19746319])),
 (78, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (79, array([0.28449379, 0.65502625, 0.75560612, ..., 0.26019351, 0.75560612,
         0.40497863])),
 (80, array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.62911221])),
 (81, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (82, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (83, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (84, array([0., 0., 0., ..., 0., 0., 0.])),
 (85, array([0., 0., 0., ..., 0., 0., 0.])),
 (86, array([0.1932632 , 0.44497444, 0.51330067, ..., 0.17675545, 0.51330067,
         0.27511132])),
 (87, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (88, array([0.        , 0.        , 0.25380932, ..., 0.73706632, 0.25380932,
         0.13603297])),
 (89, array([0., 0., 0., ..., 0., 0., 0.])),
 (90, array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.84424004])),
 (91, array([0.        , 0.        , 0.43342136, ..., 0.14924896, 0.43342136,
         0.23229879])),
 (92, array([0., 0., 0., ..., 0., 0., 0.])),
 (93, array([0., 0., 0., ..., 0., 0., 0.])),
 (94, array([0.        , 0.        , 0.57860186, ..., 0.19924197, 0.57860186,
         0.3101105 ])),
 (95, array([0.14801071, 0.34078388, 0.        , ..., 0.39970446, 0.        ,
         0.        ])),
 (96, array([0.        , 0.        , 0.38467839, ..., 0.52359414, 0.38467839,
         0.20617425])),
 (97, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (98, array([0.        , 0.        , 0.        , ..., 0.93884109, 0.        ,
         0.        ])),
 (99, array([0.75752449, 0.32901127, 0.37953125, ..., 0.13069186, 0.37953125,
         0.20341556])),
 (100, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (101, array([0.90075659, 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (102, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (103, array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.62911221])),
 (104, array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.49309432])),
 (105, array([0., 0., 0., ..., 0., 0., 0.])),
 (106, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (107, array([0.28449379, 0.65502625, 0.75560612, ..., 0.26019351, 0.75560612,
         0.40497863])),
 (108, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (109, array([0.28449379, 0.65502625, 0.75560612, ..., 0.26019351, 0.75560612,
         0.40497863])),
 (110, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (111, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (112, array([0.71079714, 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (113, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (114, array([0., 0., 0., ..., 0., 0., 0.])),
 (115, array([0.        , 0.        , 0.        , ..., 0.45880456, 0.        ,
         0.        ])),
 (116, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (117, array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.84424004])),
 (118, array([0.        , 0.        , 0.        , ..., 0.30552517, 0.        ,
         0.        ])),
 (119,
  array([0.      , 0.      , 0.      , ..., 0.376944, 0.      , 0.      ])),
 (120, array([0., 0., 0., ..., 0., 0., 0.])),
 (121, array([0., 0., 0., ..., 0., 0., 0.])),
 (122, array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.84424004])),
 (123, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (124, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (125, array([0., 0., 0., ..., 0., 0., 0.])),
 (126, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (127, array([0., 0., 0., ..., 0., 0., 0.])),
 (128, array([0., 0., 0., ..., 0., 0., 0.])),
 (129, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (130, array([0.16046783, 0.3694655 , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (131, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (132, array([0.22519367, 0.51849202, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (133, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (134, array([0., 0., 0., ..., 0., 0., 0.])),
 (135, array([0., 0., 0., ..., 0., 0., 0.])),
 (136, array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.84424004])),
 (137, array([0., 0., 0., ..., 0., 0., 0.])),
 (138, array([0.17372599, 0.39999144, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (139, array([0.1932632 , 0.44497444, 0.51330067, ..., 0.17675545, 0.51330067,
         0.27511132])),
 (140, array([0.22519367, 0.51849202, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (141, array([0.        , 0.        , 0.51264756, ..., 0.17653055, 0.51264756,
         0.27476128])),
 (142, array([0.        , 0.        , 0.50298149, ..., 0.68461907, 0.50298149,
         0.2695806 ])),
 (143, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (144, array([0.22751944, 0.52384694, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (145, array([0.22871339, 0.52659594, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (146, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (147, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (148, array([0.22519367, 0.51849202, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (149, array([0.1932632 , 0.44497444, 0.51330067, ..., 0.17675545, 0.51330067,
         0.27511132])),
 (150, array([0.        , 0.        , 0.43342136, ..., 0.14924896, 0.43342136,
         0.23229879])),
 (151, array([0., 0., 0., ..., 0., 0., 0.])),
 (152, array([0.22871339, 0.52659594, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (153, array([0.17450395, 0.40178265, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (154, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (155, array([0., 0., 0., ..., 0., 0., 0.])),
 (156, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (157, array([0.20940938, 0.48214985, 0.        , ..., 0.        , 0.        ,
         0.73962921])),
 (158, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (159, array([0., 0., 0., ..., 0., 0., 0.])),
 (160, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (161, array([0.28449379, 0.65502625, 0.75560612, ..., 0.26019351, 0.75560612,
         0.40497863])),
 (162, array([0.        , 0.        , 0.50298149, ..., 0.68461907, 0.50298149,
         0.2695806 ])),
 (163, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (164, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (165, array([0., 0., 0., ..., 0., 0., 0.])),
 (166, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (167, array([0.22519367, 0.51849202, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (168, array([0.22519367, 0.51849202, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (169, array([0., 0., 0., ..., 0., 0., 0.])),
 (170, array([0.22751944, 0.52384694, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (171, array([0.70502503, 0.30620948, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (172, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (173, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (174, array([0.        , 0.        , 0.50298149, ..., 0.68461907, 0.50298149,
         0.2695806 ])),
 (175, array([0., 0., 0., ..., 0., 0., 0.])),
 (176, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (177, array([0., 0., 0., ..., 0., 0., 0.])),
 (178, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (179, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (180, array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.84424004])),
 (181, array([0., 0., 0., ..., 0., 0., 0.])),
 (182, array([0.22751944, 0.52384694, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (183, array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.84424004])),
 (184, array([0., 0., 0., ..., 0., 0., 0.])),
 (185, array([0., 0., 0., ..., 0., 0., 0.])),
 (186, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (187, array([0.28449379, 0.65502625, 0.75560612, ..., 0.26019351, 0.75560612,
         0.40497863])),
 (188, array([0., 0., 0., ..., 0., 0., 0.])),
 (189, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (190, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (191, array([0.1932632 , 0.44497444, 0.51330067, ..., 0.17675545, 0.51330067,
         0.27511132])),
 (192, array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.62911221])),
 (193, array([0., 0., 0., ..., 0., 0., 0.])),
 (194, array([0., 0., 0., ..., 0., 0., 0.])),
 (195, array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.57839094])),
 (196, array([0.90075659, 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (197, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (198, array([0.        , 0.        , 1.        , ..., 0.34435072, 1.        ,
         0.53596525])),
 (199, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (200, array([0.10785844, 0.2483362 , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (201, array([0.28449379, 0.65502625, 0.75560612, ..., 0.26019351, 0.75560612,
         0.40497863])),
 (202, array([0.19562719, 0.45041737, 0.        , ..., 0.52829327, 0.        ,
         0.        ])),
 (203, array([0.        , 0.        , 0.57317238, ..., 0.19737232, 0.57317238,
         0.30720048])),
 (204, array([0.78718215, 0.        , 0.48608386, ..., 0.16738332, 0.48608386,
         0.26052406])),
 (205, array([0., 0., 0., ..., 0., 0., 0.])),
 (206, array([0.43432426, 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (207, array([0.        , 0.        , 0.57317238, ..., 0.19737232, 0.57317238,
         0.30720048])),
 (208, array([0.        , 0.        , 0.        , ..., 0.30552517, 0.        ,
         0.        ])),
 (209, array([0.        , 0.        , 0.44190635, ..., 0.15217077, 0.44190635,
         0.23684645])),
 (210, array([0., 0., 0., ..., 0., 0., 0.])),
 (211, array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.84424004])),
 (212, array([0.1932632 , 0.44497444, 0.51330067, ..., 0.17675545, 0.51330067,
         0.27511132])),
 (213, array([0., 0., 0., ..., 0., 0., 0.])),
 (214, array([0.22751944, 0.52384694, 0.        , ..., 0.        , 0.        ,
         0.        ])),
 (215, array([0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.84424004])),
 (216, array([0., 0., 0., ..., 0., 0., 0.])),
 (217, array([0.68678423, 0.29828706, 0.        , ..., 0.        , 0.        ,
         0.        ])),

In [ ]:
id_to_title = df_movies.set_index('movie_id')
def hybrid(userId, title):
  #Extract the cosine_sim index of the movie
  id = [i for i in range(len(df_movies)) if df_movies.loc[i]['movie_title'] == title][0]
  idx = cosine_sim_map[id]
  #Extract the movie ID internally assigned by the dataset
  movie_id = df_movies.loc[id]['movie_id']
  #Extract the similarity scores and their corresponding index for every movie from the cosine_sim matrix
  sim_scores = list(enumerate(idx))
  #Sort the (index, score) tuples in decreasing order of similarity scores
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  #Select the top 25 tuples, excluding the first
  #(as it is the similarity score of the movie with itself)
  sim_scores = sim_scores[1:26]
  #Store the cosine_sim indices of the top 25 movies in a list
  movie_indices = [i[0] for i in sim_scores if i[0] != id]
  #Extract the metadata of the aforementioned movies
  movies = df_movies.iloc[movie_indices][['movie_genres','movie_id', 'movie_title']]
  #Compute the predicted ratings using the SVD filter
  movies['est'] = movies['movie_id'].apply(lambda x: svd.predict(userId,x).est)
  #Sort the movies in decreasing order of predicted rating
  movies = movies.sort_values('est', ascending=False)
  #Return the top 10 movies as recommendations
  return movies.head(10)

In [ ]:
hybrid(1, 'Heat (1995)')

       movie_genres  movie_id                    movie_title       est
2943        [5, 16]      2917               Body Heat (1981)  4.457533
1418        [5, 16]        50     Usual Suspects, The (1995)  4.443483
2920  [0, 5, 7, 16]      1953  French Connection, The (1971)  4.276942
1820        [5, 16]      1089          Reservoir Dogs (1992)  4.198379
587         [5, 16]      2391          Simple Plan, A (1998)  4.124177
3402     [0, 5, 16]      3763                     F/X (1986)  4.002849
3114        [5, 16]       659             Purple Noon (1960)  3.860799
2709     [0, 5, 16]      2278                   Ronin (1998)  3.827686
1310     [0, 5, 16]       170                 Hackers (1995)  3.768654
1521        [5, 16]      3348      Night Visitor, The (1970)  3.739816

In [ ]:
hybrid(2, 'Heat (1995)')

       movie_genres  movie_id                    movie_title       est
1418        [5, 16]        50     Usual Suspects, The (1995)  4.241247
2943        [5, 16]      2917               Body Heat (1981)  3.830615
2920  [0, 5, 7, 16]      1953  French Connection, The (1971)  3.750789
3114        [5, 16]       659             Purple Noon (1960)  3.636440
1310     [0, 5, 16]       170                 Hackers (1995)  3.490908
3402     [0, 5, 16]      3763                     F/X (1986)  3.439657
3240        [5, 16]      2209      Young and Innocent (1937)  3.437002
587         [5, 16]      2391          Simple Plan, A (1998)  3.404086
1521        [5, 16]      3348      Night Visitor, The (1970)  3.371197
2872        [5, 16]      1686              Red Corner (1997)  3.365464

# Recommendations using Keras

In [ ]:
import numpy as np
import pandas as pd
import os
import warnings
from keras.models import load_model
from sklearn.model_selection import train_test_split
from keras.layers import Input, Embedding, Flatten, Dot, Dense, Concatenate
from keras.models import Model
warnings.filterwarnings('ignore')
%matplotlib inline

In [ ]:
train, test = train_test_split(df_collab, test_size=0.2, random_state=42)

In [ ]:
# creating book embedding path
n_item = len(df_collab)
movie_input = Input(shape=[1], name="Movie-Input")
movie_embedding = Embedding(n_item+1, 5, name="Movie-Embedding")(movie_input)
movie_vec = Flatten(name="Flatten-Books")(movie_embedding)
# creating user embedding path
user_input = Input(shape=[1], name="User-Input")
user_embedding = Embedding(n_item+1, 5, name="User-Embedding")(user_input)
user_vec = Flatten(name="Flatten-Users")(user_embedding)
# concatenate features
conc = Concatenate()([movie_vec, user_vec])
# add fully-connected-layers
fc1 = Dense(128, activation='relu')(conc)
fc2 = Dense(32, activation='relu')(fc1)
out = Dense(1)(fc2)
# Create model and compile it
model2 = Model([user_input, movie_input], out)
model2.compile('adam', 'mean_squared_error')

In [ ]:
history = model2.fit([train.user_id, train.movie_id], train.rating, epochs=5, verbose=1)

Epoch 1/5
25006/25006 [==============================] - 1338s 53ms/step - loss: 0.8905
Epoch 2/5
25006/25006 [==============================] - 1337s 53ms/step - loss: 0.8016
Epoch 3/5
25006/25006 [==============================] - 1361s 54ms/step - loss: 0.7736
Epoch 4/5
25006/25006 [==============================] - 1366s 55ms/step - loss: 0.7583
Epoch 5/5
25006/25006 [==============================] - 1381s 55ms/step - loss: 0.7491

In [ ]:
predictions = model2.predict([test.user_id.head(10), test.movie_id.head(10)])
[print(predictions[i], test.rating.iloc[i]) for i in range(0,10)]

[2.7938354] 3.0
[3.1792054] 3.0
[2.6908455] 3.0
[2.854094] 3.0
[2.593242] 3.0
[2.7212327] 3.0
[3.7697325] 3.0
[3.619605] 3.0
[3.6927524] 2.0
[3.9808488] 4.0

[None, None, None, None, None, None, None, None, None, None]